<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" alt="">
    </div>
    <p>{{post.content}}</p>
    <mat-action-row *ngIf="autenticato">
      <a mat-button [routerLink]="[ '/edit', post.id ]">Modifica</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">Elimina</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator *ngIf="posts.length > 0" (page)="pageEvent($event)" [length]="totalPosts" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length === 0 && !isLoading">nessun post</p>